<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RutaArchivo" value="C:\Documents and Settings\user\Desktop\EAT" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogDestino" value="0" />
    <add key="LogConfig" value="1" />
    <add key="LogFilePath" value="C:\Documents and Settings\user\Desktop\EAT\Log\" />
    <add key="LogFileText" value="C:\Documents and Settings\user\Desktop\EAT\Log\logtext.txt" />
    <add key="LogFileXML" value="C:\Documents and Settings\user\Desktop\EAT\Log\logtext.xml" />
    <add key="LogSourceName" value="EventEATLog" />
    <add key="LogDestinoInter" value="0" />
    <add key="LogConfigInter" value="0" />
    <add key="LogFilePathInter" value="C:\Documents and Settings\user\Desktop\EAT\Log\" />
    <add key="LogFileTextInter" value="C:\Documents and Settings\user\Desktop\EAT\Log\logtext.txt" />
    <add key="LogFileXMLInter" value="C:\Documents and Settings\user\Desktop\EAT\Log\logtext.xml" />
    <add key="LogSourceNameInter" value="EventInterfasesLog" />
    <add key="dateformat" value="MM/dd/yyyy HH:mm:ss" />
    <add key="Mantenimiento" value="30" />
    <add key="DataSource" value="10.90.2.141" />
    <add key="Catalog" value="icon" />
    <add key="User" value="icon" />
    <add key="Password" value="icon" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>